@page "/postagem"
@using Dados;
@using Services;
@using Autenticacao;
@inherits OwningComponentBase<PostagemService>
@inject UsuarioService usuarioService;
@inject AuthenticationStateProvider authStateProvider

<h3>Postagem</h3>
<EditForm Model="@postagem" OnValidSubmit="@salvar">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="texto">Texto </label>
        <InputText id="texto" class="form-control" @bind-Value=postagem.texto />
        <input type="submit" class="btn btn-success" value="Salvar" />
    </div>
</EditForm>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Texto</th>
        <th>Quando</th>
        <th>Autor</th>
    </tr>
    @foreach (var post in PostList)
    {
        <tr>
            <td>
                @post.id
            </td>
            <td>
                @post.texto
            </td>
            <td>
                @post.datahora
            </td>
            <td>
                @usuarioService.getUsuarioById(@post.usuario_id).nome
            </td>
            @* <td>
        <button class="btn btn-danger" @onclick="() => ApagarUsuario(user)">Apagar</button>
        </td>
        <td>
        <button class="btn btn-info" @onclick="() => EditarUsuario(user)">Editar</button>
        </td> *@
        </tr>
    }
</table>

@code {
    Postagem postagem = new();

    IList<Postagem> PostList;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private string userName;

    private async Task salvar()
    {
        postagem.datahora = DateTime.Now;
        postagem.usuario_id = getUserId();

        try
        {
            if (postagem.id == 0)
            {
                await Service.InsertPostagem(postagem);
            }
            else
            {
                await Service.UpdatePostagem(postagem);
            }
            postagem = new();
            updateList();
        }
        catch (Exception E)
        {
            Console.WriteLine(E.Message);
        }
    }

    private void updateList()
    {
        PostList = Service.getAllPostagem();
    }

    protected override async void OnInitialized()
    {
        PostList = Service.getAllPostagem();
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity.Name;
    }

    private int getUserId()
    {
        var user = usuarioService.getUsuarioByNome(userName);
        return user.id;
    }
}
